<h2 class="sub_title">Follow Users</h2>
<% if @users.exists? %>
  
    <% @users.each do |user| %>
      
        <%= user.nickname %>
        フォロー数: <%= user.followings.count %>
        フォロワー数: <%= user.followers.count %>
      
    <% end %>
  
<% else %>
  <p>ユーザーはいません</p>
<% end %>