<div class="content">
    <h2 class="sub_title">Contact</h2>
    <div class="container">
        <div class="cantact_area">
            <div class="contact_right">
                <h3>お問い合わせありがとうございます。</h3>
                <p>
                    googleフォームを利用したお問い合わせフォームになります</br></br>
                   お問い合わせ内容に沿った項目をご選択の「次へ」をクリックし、</br></br>
                   次の内容にお進みください。</br></br>
                   質問回答後に質問内容は変更できます。</br></br></br></br>
                   頂いたお問い合わせ内容は全て確認させていただき、</br></br>
                   photographersに反映させていただきたいと思っていますが、</br></br>
                   ご要望によっては反映できませんのであらかじめご了承ください。
                </p>
            </div>
            <div class="contact_left">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfGAsponi8hH85N8DHicPbOKzDkSN3tedI1KHd8-cZ_0A0o4w/viewform?embedded=true" width="640" height="520" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
            </div>
        </div>
    </div>
</div>
