<div class="content">
    <div class="success">
        <h3>投稿が完了しました</h3>
        <p>投稿していただきありがとうございます!</br>あなたの投稿がカメラ選びに悩む方の助けになります!</br>今後ともフォトグラファーズをお願いいたします!</p>
        <a href="/"　class="btn">投稿一覧へ戻る</a>
    </div>
</div>