@charset "UTF-8";

img{
    max-width: 100%;
}

.section{
    width: 95%;
    margin: 0 auto;
}

/*-----------------------------------------
------------header
-----------------------------------------*/
#header{
    width: 100%;
    height: 30px;
    color: #33FF66;
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid #212121;
    top: 0;
    left: 0;
    z-index: 10;
}

.heading{
    width: 50%;
    height: 30px;
    margin-left: 30px;
}

.heading h1{
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

#header a{
    text-decoration: none;
    color: #fff;
}

#nav_bar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: #333;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 20;
    opacity: 0;
}

.open #nav_bar{
    left: 0;
    opacity: 1;
}

.navi_list{
    font-size: 1.5rem;
}

.navi{
    display: block;
    width: 250px;
    border-bottom: 1px solid #fff;
    margin: 10px;
    color: #fff;
}

.navi_log{
    font-size: 1.2rem;
    margin-top: 100px
}

/*----------------------------------------*/

.toggle_btn{
    display: block;
    position: fixed;
    top: 3px;
    right: 45px;
    width: 25px;
    height: 25px;
    transition: all 1s;
    cursor: pointer;
    z-index: 20;
}

.toggle_btn span{
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #212121;
    border-radius: 4px;
    transition: all 1s;
}

.toggle_btn span:nth-child(1){
    top: 4px;
}

.toggle_btn span:nth-child(2){
    top: 11px;
}

.toggle_btn span:nth-child(3){
    bottom: 5px;
}

.open .toggle_btn span{
    background-color: #fff;
}

.open .toggle_btn span:nth-child(1){
    -webkit-transform: translateY(7px) rotate(-315deg);
    transform: translateY(7px) rotate(-315deg);
}

.open .toggle_btn span:nth-child(2){
    opacity: 0;
}

.open .toggle_btn span:nth-child(3){
    -webkit-transform: translateY(-7px) rotate(315deg);
    transform: translateY(-7px) rotate(315deg);
}

#mask{
    display: none;
}

.open #mask{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 10;
    background-color: #212121;
    cursor: pointer;
}

/*-----------------------------------------
------------section1
-----------------------------------------*/

#section1{
    padding-top: 30px
}

.test{
    height: 300px;
    background-color: aqua;
}

/*-----------------------------------------
------------section2
-----------------------------------------*/

.grid{
    margin-top: 20px;
    gap: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.post img{
    vertical-align: top;
}

.post{
    transition: all 0.5s ease;
    box-shadow: 0 0 8px 4px #444444;
}

.post_p{
    text-align: left;
    display: block;
    margin: 0 auto;
}

/*-----------------------------------------
------------posts/new
-----------------------------------------*/

form input,
form textarea {
  width: 80%;
  margin: 5px auto 15px;
  padding: 15px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  display: block;
}

form input[type="submit"] {
  background-color: #212121;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
  width: 300px
}

form input[type="submit"]:hover {
  background-color: #84d3ef;
  width: 300px
}

.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: #fff;
  box-sizing: border-box;
}

.container h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #212121;
}

/*-----------------------------------------
------------posts/create
-----------------------------------------*/
.success {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}

.success h3 {
  margin: 10px auto;
}

.btn{
    display: block;
    border: 1px solid #212121;
    border-radius: 5px;
    padding: 20px
}
